export SLACK_BOT_TOKEN=your-bot-token
export SLACK_APP_CLIENT_ID=your-app-client-id
export SLACK_APP_CLIENT_SECRET=your-client-secret

export TWITTER_CONSUMER_KEY=your-key
export TWITTER_CONSUMER_SECRET=your-secret
export TWITTER_ACCESS_TOKEN=your-token
export TWITTER_ACCESS_SECRET=your-secret

export REDIS_URL=localhost
export PORT=3000
